@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.logo {
  margin: 20px;
}
.logo h2 {
  background-color: blue;
  color: whitesmoke;
  margin-top: 0;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.banner {
  overflow: hidden;
  height: 500px;
  width: 100%;
  background-image: url(./images/feature.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

.button {
  text-decoration: none;
  background-color: blue;
  color: whitesmoke;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 20px;
}
